@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap);

body{
    background-color:#232c33;
    color:#ddd2d2;
    font-family:'Source Sans Pro',sans-serif
}
.light-mode{
    background-color:#f6efee;
    color:#232c33;
}
.title-container{
    display:flex;
    align-items:center;
}
a{
    text-decoration:none;
    color:#232c33
}
.name{
    font-size:xx-large
}
.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:auto;
    margin-bottom:6rem
}
.flex-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.flex-container-social{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.flex-container-projects{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.profile-image{
    width:100%;
    height:auto;
    border-radius:1rem
}
.product-image{
    width:100%;
    height:auto;
    border-radius:1rem
}
.flex-child{
    width:50%
}
.button{
    padding:.5rem;
    background-color:#c5d1eb;
    border-radius:.5rem;
}
.button-mediafind{
    padding:.5rem;
    background-color:#81d0b0;
    border-radius:.5rem;
}
.button-reddit{
    padding:.5rem;
    background-color: #d2bee0;
    border-radius:.5rem;
}
.button-twitter{
    padding:.5rem;
    background-color:#1da1f2;
    border-radius:.5rem;
}
.button-discord{
    padding:.5rem;
    background-color:#a3aafb;
    border-radius:.5rem;
}
.introduction-paragraph{
    margin-bottom:1.4rem
}
.personal-projects-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:auto;
    margin-bottom:10rem
}
.personal-projects-header{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:auto
}
.title{
    text-align:center;
}
.personal-projects-image{
    width:100%;
    height:auto;
    border-radius:1rem;
    margin-bottom:1.4rem
}
.description{
    width:100%;
    text-align:center
}
.personal-projects-description{
    margin-bottom:1.4rem
}
.personal-projects-link{
    margin-bottom:1.4rem
}
.social-links{
    margin-right:1rem
}
.skills{
    display:flex;
    justify-content: space-around;
    width:50%;
    margin:auto;
}
.skill-column{
    margin-right: 3rem;
}
.skills-container{
    width: 80%;
    margin: auto;
    margin-bottom: 6rem;
}
@media screen and (max-width:800px){
    .title-container{
        white-space: nowrap;
    }
    .screen-mode{
        display: inline-block;
    }
    .hero{
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:auto;
        margin-bottom:6rem
    }
    .flex-container{
        display:flex;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
    }
    .flex-child{
        width:90%
    }
    .personal-projects-container{
        display:flex;
        justify-content:center;
        align-items:center;
        width:90%;
        margin:auto;
        margin-bottom:10rem
    }
    .skills{
        /* display:flex;
        flex-direction: column; */
        margin:auto;
        width: 50%;
    }
    .skill-column{
        margin-right: 0;
    }
    .skills-container{
        width: 80%;
        margin: auto;
        margin-bottom: 5rem;
    }
}