@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap'); 

body{
    background-color:#232c33 ;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    text-decoration: none;
    color: #232c33;
}
.name{
    font-size: xx-large;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#ddd2d2;
}
.flex-container-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ddd2d2;
}
.flex-container-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ddd2d2;
}
.profile-image{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.flex-child{
    width: 50%;
}
.button{
    padding: 0.5rem;
    background-color: #c5d1eb;
    border-radius: 0.5rem;
    border: black 1px solid;
    box-shadow: black 1px 1px 1px;
}
.button-mediafind{
    padding: 0.5rem;
    background-color: #81D0B0;
    border-radius: 0.5rem;
    border: black 1px solid;
    box-shadow: black 1px 1px 1px;
}
.button-twitter{
    padding: 0.5rem;
    background-color: #1DA1F2;
    border-radius: 0.5rem;
    border: black 1px solid;
    box-shadow: black 1px 1px 1px;
}
.button-discord{
    padding: 0.5rem;
    background-color: #5865F2;
    border-radius: 0.5rem;
    border: black 1px solid;
    box-shadow: black 1px 1px 1px;
}
.introduction-paragraph{
    margin-bottom: 1.4rem;
}
.personal-projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 10rem;
}
.personal-projects-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}
.title{
    text-align: center;
}
.personal-projects-image{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1.4rem;
}
.description{
    width: 100%;
    text-align: center;
}
.personal-projects-description{
    margin-bottom: 1.4rem;
}
.personal-projects-link{
    margin-bottom: 1.4rem;
}
.social-links{
    margin-right: 1rem;
}
@media screen and (max-width: 800px){
    .hero{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 3rem;
    }
    .flex-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        color:#ddd2d2;
    }
    .flex-child{
        width: 90%;
    }
    .personal-projects-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 10rem;
    }
}